@charset "utf-8";

/*=========================
 * font
==========================*/
@font-face{
	font-family: 'signature1';
	src: url('../fonts/GongPilM.eot');
	src: url('../fonts/GongPilM.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GongPilM.woff') format('woff'),
		url('../fonts/GongPilM.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}
@font-face{
	font-family: 'signature2';
	src: url('../fonts/Blacksword.eot');
	src: url('../fonts/Blacksword.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Blacksword.woff') format('woff'),
		url('../fonts/Blacksword.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face{
	font-family: 'ShinhanCard';
	src: url('../fonts/ShinhanCardL.eot');
	src: url('../fonts/ShinhanCardL.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ShinhanCardL.woff') format('woff'),
		url('../fonts/ShinhanCardL.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
}
@font-face{
	font-family: 'ShinhanCard';
	src: url('../fonts/ShinhanCardM.eot');
	src: url('../fonts/ShinhanCardM.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ShinhanCardM.woff') format('woff'),
		url('../fonts/ShinhanCardM.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
}
@font-face{
	font-family: 'ShinhanCard';
	src: url('../fonts/ShinhanCardB.eot');
	src: url('../fonts/ShinhanCardB.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ShinhanCardB.woff') format('woff'),
		url('../fonts/ShinhanCardB.ttf') format('truetype');
		font-weight: 900;
		font-style: normal;
}

/*=========================
 * reset
==========================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button,select {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
body {background:#fff}
body,th,td,input,select,textarea,button {font-family:'ShinhanCard';font-weight:400;font-size:16px;line-height:1.5;color:#191919;-webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-word}
section,nav,article,aside,hgroup,header,footer {display:block}
input,textarea,select,button,table {font-size:inherit;font-family:inherit}
legend,caption {overflow:hidden;/*width:0;height:0;font-size:0;*/line-height:0;color:transparent !important;}
img {vertical-align:top}
em,address {font-style:normal}
a {color:#191919;text-decoration:none}
a:link {color:#191919;}
a:visited {color:#191919;}
a:hover {color:#191919;}
a:active {color:#191919;}
a[href^=tel] {font-weight:bold;font-size:14px;font-size:0.875rem;}
strong {font-weight:bold}
iframe {border:0 none}
html, body {width:100%;min-width:320px;}
html {font-size:16px;letter-spacing:-0.5px}
body {height:100%;/*-ms-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;user-select:none;*/-webkit-touch-callout:none}
#shcWrap {overflow:hidden;width:100%}
#shcContent {position:relative;z-index:100}
#shcArticle {min-height:304px;}
.shcardApp #shcArticle {padding-bottom:40px}
#shcFoot {overflow:hidden;position:relative;min-height:231px;background-color:#55575d;margin-top:0px !important;}
img{max-width:100%;}
@media only screen and (min-width:360px) {
	html {font-size: 18px;}
}


/*키보드 보안 css*/
.kpd-image-button {max-width:initial;}
#e2e_useyn_toggle2{position:absolute;top:8px;right:5px;}
#e2e_useyn_toggle3{position:absolute;top:8px;right:5px;} 

/*=========================
 * font-size
==========================*/
.fs8 {font-size:0.5rem !important;} /* 8px */
.fs9 {font-size:0.5625rem !important;} /* 9px */
.fs10 {font-size:0.625rem !important;} /* 10px */
.fs11 {font-size:0.6875rem !important;} /* 11px */
.fs12 {font-size:0.75rem !important;} /* 12px */
.fs13 {font-size:0.8125rem !important;} /* 13px */
.fs14 {font-size:0.875rem !important;} /* 14px */
.fs15 {font-size:0.9375rem !important;} /* 15px */
.fs16 {font-size:1rem !important;} /* 16px */
.fs17 {font-size:1.0625rem !important;} /* 17px */
.fs18 {font-size:1.125rem !important;} /* 18px */
.fs19 {font-size:1.1875rem !important;} /* 19px */
.fs20 {font-size:1.25rem !important;} /* 20px */
.fs21 {font-size:1.3125rem !important;} /* 21px */
.fs22 {font-size:1.375rem !important;} /* 22px */
.fs23 {font-size:1.4375rem !important;} /* 23px */
.fs24 {font-size:1.5rem !important;} /* 24px */
.fs26 {font-size:1.625rem !important;} /* 26px */
.fs28 {font-size:1.75rem !important;} /* 28px */

/*=========================
 * font style
==========================*/
.fw_b {font-weight:bold !important;}
.fw_n {font-weight:normal !important;}
.txt_underline {text-decoration:underline;}
.wsn {white-space:nowrap}

/*=========================
 * ir
==========================*/
.ir_wa {display:block;overflow:hidden;position:relative;z-index:-10;width:100%;height:100%}
.screen_out {display:block;overflow:hidden;position:absolute;width:0;height:0;line-height:0;color:transparent !important;}

/*=========================
 * border init
==========================*/
.bd_none {border:none !important;}/* border:none */
.bd_top_none {border-top:none !important;}/* border-top:none */
.bd_btm_none {border-bottom:none !important;}/* border-bottom:none */

/*=========================
 * bgColor
==========================*/
.bgColor1{background-color:#f7f7f9;}
.bgColor2{background-color:#f6f6f6;}

/*=========================
 * align
==========================*/
.f_l {float:left}
.f_r {float:right}
.txt_al {text-align:left !important}
.txt_ac {text-align:center !important}
.txt_ar {text-align:right !important}
.va_t {vertical-align:top !important}
.va_m {vertical-align:middle !important}
.va_b {vertical-align:bottom !important}
.cl_b {clear:both}
.clear::after {content:'';display:table;clear:both}
.show {display:block !important}
.hide {display:none !important}
.table_wrap{display:table;width:100%}
.table_td {display:table-cell;}
hr.line {overflow:hidden;width:100%;height:0;margin:0;padding:0;border:0 none;background-color:transparent}
.w_50 {width:50%}
.w_60 {width:60%}
.w_70 {width:70%}
.top0 {top:0 !important;}

/*=========================
 * grid
==========================*/
.col_2{width:50%}
.col_3{width:33.3%;}

/*=========================
 * gutter
==========================*/
.mg_top0 {margin-top:0 !important}
.mg_top5 {margin-top:5px !important}
.mg_top10 {margin-top:10px !important}
.mg_top15 {margin-top:15px !important}
.mg_top20 {margin-top:20px !important}
.mg_top25 {margin-top:25px !important}
.mg_top30 {margin-top:30px !important}
.mg_top35 {margin-top:35px !important}
.mg_top40 {margin-top:40px !important}
.mg_top45 {margin-top:45px  !important }
.mg_top50 {margin-top:50px !important}
.mg_left5 {margin-left:5px !important}
.mg_left10 {margin-left:10px !important}
.mg_left20 {margin-left:20px !important}
.mg_left30 {margin-left:30px !important}
.mg_right5 {margin-right:5px !important}
.mg_right10 {margin-right:10px !important}
.mg_right20 {margin-right:20px !important}
.mg_right30 {margin-right:30px !important}
.mg_btm0 {margin-bottom:0 !important;}
.mg_btm5 {margin-bottom:5px !important;}
.mg_btm10 {margin-bottom:10px !important;}
.mg_btm15 {margin-bottom:15px !important;}
.mg_btm20 {margin-bottom:20px !important;}
.mg_btm25{margin-bottom:25px !important;}
.mg_btm30 {margin-bottom:30px !important;}
.mg_btm35 {margin-bottom:35px !important;}
.mg_btm40 {margin-bottom:40px !important;}
.mgrl0 {margin-right:0!important; margin-left:0 !important;}

.pd0 {padding:0 !important}
.pd_top0 {padding-top:0 !important;}
.pd_top5 {padding-top:5px !important}
.pd_top10 {padding-top:10px !important}
.pd_top15 {padding-top:15px !important}
.pd_top20 {padding-top:20px !important}
.pd_top25 {padding-top:25px !important}
.pd_top30 {padding-top:30px !important}
.pd_top35 {padding-top:35px !important}
.pd_top50 {padding-top:50px !important}
.pd_left0 {padding-left:0 !important;}
.pd_left5 {padding-left:5px !important;}
.pd_left20  {padding-left:20px !important;}
.pd_left30 {padding-left:30px !important;}
.pd_right0 {padding-right:0 !important;}
.pd_right10 {padding-right:10px !important;}
.pd_right20 {padding-right:20px !important;}
.pd_bot0 {padding-bottom:0px !important}
.pd_bot5 {padding-bottom:5px !important}
.pd_bot10 {padding-bottom:10px !important}
.pd_bot13 {padding-bottom:13px !important}
.pd_bot15 {padding-bottom:15px !important}
.pd_bot20 {padding-bottom:20px !important}
.pd_bot30 {padding-bottom:30px !important}
.pd_bot35 {padding-bottom:35px !important}
.pd_bot50 {padding-bottom:50px !important}
.pdrl0 {padding-right:0 !important;padding-left:0 !important;}
.pdtb0 {padding-top:0 !important;padding-bottom:0 !important}
.pd_btm0 {padding-bottom:0 !important;}

/*=========================
 * layout
==========================*/
/*
#skipToContent {position:absolute;z-index:9999;width:100%;text-align:center}
#skipToContent a {display:block;overflow:hidden;width:1px;height:1px;margin-bottom:-1px;text-align:center;color:#fff;white-space:nowrap}
#skipToContent a:focus,
#skipToContent a:active {width:auto;height:auto;padding:5px;background:#0989cb}

#ebppWrap{display:flex;min-height:100vh;flex-direction:column;}
#ebppHeader{}
#ebppContent{flex:1;}
#ebppFooter{}
*/

#ebppWrap{min-height:100vh;word-break: keep-all;}

/*main header*/
.ebppMain .box_header {position:absolute;top:0;left:0;z-index:130;width:100%;min-width:320px;height:50px;box-sizing:border-box;background: transparent;}
.ebppMain .tit_head {height:50px;padding:14px 0 0 0;box-sizing:border-box;overflow:hidden;position:relative;width:100%;height:50px;box-sizing:border-box;font-weight:bold;font-size:19px;line-height:28px;color:#fff;text-align:center;border-bottom:1px solid rgba(255,255,255,0.18);}
.ebppMain .tit_head .logo_MBP {display:inline-block;width:130px;vertical-align:top}
.ebppMain .tit_head img {width:100%}
.ebppMain .box_con{border-bottom:20px solid #f6f6f6;}

/*main bnr swiper custom*/		
.swiper-container {overflow:hidden;position:relative;z-index:1;border-bottom:0;}
.swiper-wrapper {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;z-index: 1;-webkit-transition-property: -webkit-transform;-moz-transition-property: -moz-transform;-o-transition-property: -o-transform;-ms-transition-property: -ms-transform;transition-property: transform;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.swiper-slide {position: relative;width: 100%;height: 100%;-webkit-flex-shrink: 0;-ms-flex: 0 0 auto;flex-shrink: 0;}
.swiper-slide img{width:100%;}
.swiper-pagination{display:inline-block;font-size:0.75rem;color:#6f6f6f;}
.swiper-controler{position:absolute;bottom:9px;left:7%}
.swiper-pagination-current{font-weight:bold;}
.AutoControl{border:0;text-indent: -9999px;width: 20px;overflow: hidden;background: url(../images/common/ico_control.png) no-repeat center -2px;background-size: 24px;height:20px;display:inline-block;vertical-align:middle;}
.AutoControl.AutoPlay{background-position:center -26px;}
.AutoControl:after{content:'stop';white-space:nowrap;font-size:12px;color:transparent;width:11px;height:11px;overflow:hidden;position:absolute;left:0;top:0;}
.AutoControl.AutoPlay:after{content:'play'}

/*=========================
 * form
==========================*/
input[type="radio"] {width:23px;height:23px;border-radius:0;background:url(../images/common/ico_input.png) no-repeat 0 0;background-size:120px 100px;-webkit-appearance:none;border:0 none}
input[type="checkbox"] {width:23px;height:23px;border-radius:0;background:url(../images/common/ico_input.png) no-repeat 0 -30px;background-size:120px 100px;-webkit-appearance:none;border:0 none}
input[type="radio"]:checked {background-position:-30px 0}
input[type="checkbox"]:checked {background-position:-30px -30px}
input[type="radio"]:disabled {background-position:-60px 0}
input[type="checkbox"]:disabled {background-position:-60px -30px}
input[type="radio"]:disabled:checked {background-position:-90px 0}
input[type="checkbox"]:disabled:checked {background-position:-90px -30px}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="date"] {overflow:hidden;width:100%;height:38px;padding:0 10px;box-sizing:border-box;border:0 none;border-radius:0;font-size:0.9375rem;line-height:38px;color:#191919;background-color:#f6f6f6;word-break:break-all;vertical-align:top}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"],
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="date"]:focus {outline:none}
input::-webkit-input-placeholder {color:#777777}
input::-moz-placeholder {color:#777777}
input[disabled],
input[readonly]{opacity:1}
.form.disabled input[disabled]{height:40px;}
::placeholder{color:#777777;opacity:1}
textarea {box-sizing:border-box;width:100%;padding:5px;display:block;border:none;outline:none;background:#f6f6f6;-webkit-overflow-scrolling:touch;}

.time{background:url(../images/common/ico_time.png) 0 center no-repeat;text-decoration:underline;padding-left:20px;background-size:16px;} 

/*=========================
 * loading
==========================*/
.dimmed_main {display:block;overflow:hidden;position:fixed;z-index:2000;top:0;left:0;right:0;bottom:0;background-color:#000;opacity:0.65;}
.dimmed_main .progress {position:fixed;top:50%;left:50%;min-width:100px;z-index:1100;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%)}
.progress .txt_info {display:none;overflow:hidden;width:100%;margin-top:13px;font-size:15px;color:#f6f6f6;text-align:center;white-space:nowrap}
/*.progress .ico_morse {overflow:hidden;margin:0 auto;width: 80px;height: 53px;position: relative;background: url(../images/common/ico_morse2.gif) center 0 no-repeat;background-size:contain;}*/
.progress .ico_morse {overflow:hidden;margin:0 auto;width: 80px;height: 53px;position: relative;background: url(../images/common/ico_morse2.png) center 0 no-repeat;background-size: 80px auto;animation: morseCode 2s steps(23) infinite;}
@-webkit-keyframes morseCode {
	0% {
		background-position:50% 0
	}
	100% {
		background-position:50% -1242px
	}
}
@keyframes morseCode {
	0% {
		background-position:50% 0
	}
	100% {
		background-position:50% -1242px
	}
}