@forward "base/variables";
@forward "base/reset";
@forward "base/helper";

@use "abstracts/mixins" as m;

#app {
  text-align: center;
  margin: 60px 50px 0;
  line-height: 1.2;
}

.wrap {
  margin: 0 50px;
}

#table__board--list {
  @include m.tableCommon(center, bold, bold);
}

.table__board--detail {
  @include m.tableCommon(left, bold, normal);
}

#pagination {
  @include m.pagination;
  #first:before{content:"<<";}
  #prev:before{content:"<";}
  #next:before{content:">";}
  #last:before{content:">>";}
}

.board__btn--box {
  text-align: right;
  .board__btn {
    font-size: 15px;
    border: 1px solid #d4d4d4;
    padding: 5px 10px;
    margin-top: 10px;
  }
}

.board-list {
  max-width: 500px;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  ul {
    display: flex;
    gap: 10px;

    a {
      font-weight: 400;
    }
  }
}